{% extends 'movies/home.html' %}

{% block content %}

<main class="content" style="background-color: transparent">
    <div class="detail">
        <section class="trailer">
            <h3>Trailer</h3>
            <div class="trailer_frame">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/x73-573aWfs" frameborder="0" allowfullscreen></iframe>
            </div>
        </section>
        <section class="movie">
            <img src="static/image.jpg">
            <ul>
                <li>Space Between Us</li>
                <li>The first human born on Mars travels to Earth for the first time, experiencing the wonders of the planet through fresh eyes. He embarks on an adventure with a street smart girl to discover how he came to be.</li>
                <li><a href="genre.html">Adventure</a>, <a href="genre.html">Drama</a>, <a href="genre.html">Romance</a></li>
                <li><a href="cast.html">Gary Oldman</a>, <a href="cast.html">Asa Butterfield</a></li>
                <li>12,000 Views</li>
            </ul>
        </section>

    </div>
</main>



{% endblock content %}