{% extends 'movies/home.html' %}
{% load static %}

{% block content %}

    <body>
    {% for my_home_movie in home_movie|slice:":1" %}
        <h1 class="text-white-50" style="margin-left: 20px; margin-bottom: 10px;"> {{ my_home_movie.director.director_firstName }}</h1>
        <h1 class="text-white-50" style="margin-left: 20px; margin-bottom: 10px;"> {{ my_home_movie.director.director_lastName }}</h1>
        <h1 class="text-white-50" style="margin-left: 20px;"></h1>
        <section class="bg-transparent">
            <div class="container-fluid">
                <div class="row" style="margin-left: 20px;">
                    <div class="col-sd-12">
                        <img src="{{ my_home_movie.director.image.url }}" width="400" style="float: right; padding: 20px;" >
                        <h5 class="text-white-50" style="padding-top: 20px;padding-left: 15px;padding-right: 15px;">Bio :</h5>
                        <hr>
                        <p class="text-white-50"  style="padding-left: 15px;padding-right: 15px;">{{ my_home_movie.director.director_bio }}</p>
                        <h5 class="text-white-50" style="padding-top: 20px;padding-left: 15px;padding-right: 15px;">Date of Birth :</h5>
                        <p class="text-white-50" style="padding-left: 15px;padding-right: 15px;"> {{ my_home_movie.director.director_dateOfBirth }}</p>
                        <h5 class="text-white-50" style="padding-top: 20px;padding-left: 15px;padding-right: 15px;">Place of Birth :</h5>
                        <p class="text-white-50" style="padding-left: 15px;padding-right: 15px;">Date of Birth : {{ my_home_movie.director.director_dateOfBirth}} </p>
                        <p class="text-white-50" style="padding-left: 15px;padding-right: 15px;">Gender : {{ my_home_movie.director.director_gender }} </p>
                        <div style="text-align:center"></div>
                    </div>
                </div>
            </div>
        </section>
    {% endfor %}

    <script src="{%  static 'js/jquery.min.js'%}"></script>
    <script src="{%  static 'bootstrap/js/bootstrap.min.js'%}"></script>
</body>


{% endblock content %}