<!DOCTYPE html>

{% load static %}

<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>homeMovie</title>
    <link rel="stylesheet" href="{%  static 'bootstrap/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:400,600,800">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="{%  static 'fonts/font-awesome.min.css'%}">
    <link rel="stylesheet" href="{%  static 'css/--mp---Multiple-items-slider-responsive.css'%}">
    <link rel="stylesheet" href="{%  static 'css/best-carousel-slide.css'%}">
    <link rel="stylesheet" href="{%  static 'css/dh-header-non-rectangular.css'%}">
    <link rel="stylesheet" href="{%  static 'css/divider-text-middle.css'%}">
    <link rel="stylesheet" href="{%  static 'css/Footer-Dark.css'%}">
    <link rel="stylesheet" href="{%  static 'css/Header---Apple.css'%}">
    <link rel="stylesheet" href="{%  static 'css/Header-Blue--Sticky-Header--Smooth-Scroll.css'%}">
    <link rel="stylesheet" href="{%  static 'css/Header-Dark.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="{%  static 'css/MUSA_carousel-product-cart-slider-1.css'%}">
    <link rel="stylesheet" href="{%  static 'css/MUSA_carousel-product-cart-slider.css'%}">
    <link rel="stylesheet" href="{%  static 'css/MUSA_navbar-1.css'%}">
    <link rel="stylesheet" href="{%  static 'css/MUSA_navbar.css'%}">
    <link rel="stylesheet" href="{%  static 'css/Navbar-vmnt.css'%}">
    <link rel="stylesheet" href="{%  static 'css/Navbarbuttonsignupsignin-modal-form-1.css'%}">
    <link rel="stylesheet" href="{%  static 'css/Navbarbuttonsignupsignin-modal-form-2.css'%}">
    <link rel="stylesheet" href="{%  static 'css/Navbarbuttonsignupsignin-modal-form.css'%}">
    <link rel="stylesheet" href="{%  static 'css/styles.css'%}">
    <link rel="stylesheet" href="{%  static 'css/visionae-dashboard-navbar-1.css'%}">
    <link rel="stylesheet" href="{%  static 'css/visionae-dashboard-navbar.css'%}">
</head>

<body id="bodyHTML">
    <div>
        <div class="header-dark">
            <nav class="navbar navbar-dark navbar-expand-lg navigation-clean-search">
                <div class="container"><a class="navbar-brand" href="#"><strong>movieBest</strong></a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navcol-1">
                        <ul class="nav navbar-nav">
                            <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
                            <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" id="Language_Dropdown_menu" href="#">Language</a>
                                <div class="dropdown-menu"><a class="dropdown-item" href="#">English</a><a class="dropdown-item" href="#">Greek</a></div>
                            </li>
                            <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" id="Year_Dropdown_menu" href="#">Year </a>
                                <div class="dropdown-menu"><a class="dropdown-item" href="#">2020</a><a class="dropdown-item" href="#">2019</a><a class="dropdown-item" href="#">2018</a></div>
                            </li>
                            <li class="nav-item"></li>
                        </ul>
                        <form class="form-inline ml-auto" target="_self">
                            <div class="form-group"><label for="search-field"><i class="fa fa-search"></i></label><input class="form-control search-field" type="search" id="search-field" name="search"></div>
                        </form><span class="navbar-text"><a class="login" onclick="location.href='/login'" href="#">Log In</a></span><a class="btn btn-light action-button" onclick="location.href='/register'" role="button" href="#">Sign Up</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div id="promo"></div>
    <section id="carousel">
        <div class="carousel slide" data-ride="carousel" id="carousel-1">
            <div class="carousel-inner">
                <div class="carousel-item">
                    <div class="jumbotron pulse animated hero-nature carousel-hero">
                        <h1 class="hero-title">Hero Nature</h1>
                        <p class="hero-subtitle">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
                        <p><a class="btn btn-primary hero-button plat" role="button" href="#">Learn more</a></p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="jumbotron pulse animated hero-photography carousel-hero">
                        <h1 class="hero-title">Hero Photography</h1>
                        <p class="hero-subtitle">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
                        <p><a class="btn btn-primary hero-button plat" role="button" href="#">Learn more</a></p>
                    </div>
                </div>
                <div class="carousel-item active">
                    <div class="jumbotron pulse animated hero-technology carousel-hero">
                        <h1 class="hero-title">Hero Technology</h1>
                        <p class="hero-subtitle">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
                        <p><a class="btn btn-primary hero-button plat" role="button" href="#">Learn more</a></p>
                    </div>
                </div>
            </div>
            <div><a class="carousel-control-prev" href="#carousel-1" role="button" data-slide="prev"><i class="fa fa-chevron-left"></i><span class="sr-only">Previous</span></a><a class="carousel-control-next" href="#carousel-1" role="button" data-slide="next"><i class="fa fa-chevron-right"></i><span class="sr-only">Next</span></a></div>
            <ol class="carousel-indicators">
                <li data-target="#carousel-1" data-slide-to="0"></li>
                <li data-target="#carousel-1" data-slide-to="1"></li>
                <li data-target="#carousel-1" data-slide-to="2" class="active"></li>
            </ol>
        </div>
    </section>
    <div style="text-align:center;">
        <h2 class="divider-style"><span>Recently Added</span></h2>
    </div>
    <section style="margin-top: 20px;">
        <div class="d-flex flex-row multiple-item-slider">
            <div class="justify-content-center spacer-slider">
                <figure class="figure"><img class="img-fluid figure-img" src="https://picsum.photos/1080/1335?image=0" alt="alt text here">
                    <figcaption class="figure-caption">Caption</figcaption>
                </figure>
            </div>
            <div class="justify-content-center spacer-slider">
                <figure class="figure"><img class="img-fluid figure-img mx-auto d-block" src="https://picsum.photos/1080/1335?image=1083" alt="alt text here">
                    <figcaption class="figure-caption">Caption</figcaption>
                </figure>
            </div>
            <div class="justify-content-center spacer-slider">
                <figure class="figure"><img class="img-fluid figure-img" src="https://picsum.photos/1080/1335?image=1076" alt="alt text here">
                    <figcaption class="figure-caption">Caption</figcaption>
                </figure>
            </div>
            <div class="justify-content-center spacer-slider">
                <figure class="figure"><img class="img-fluid figure-img" src="https://picsum.photos/1080/1335?image=1075" alt="alt text here">
                    <figcaption class="figure-caption">Caption</figcaption>
                </figure>
            </div>
            <div class="justify-content-center spacer-slider">
                <figure class="figure"><img class="img-fluid figure-img" src="https://picsum.photos/1080/1335?image=1074" alt="alt text here">
                    <figcaption class="figure-caption">Caption</figcaption>
                </figure>
            </div>
            <div class="justify-content-center spacer-slider">
                <figure class="figure"><img class="img-fluid figure-img" src="https://picsum.photos/1080/1335?image=1071" alt="alt text here">
                    <figcaption class="figure-caption">Caption</figcaption>
                </figure>
            </div>
            <div class="justify-content-center spacer-slider">
                <figure class="figure"><img class="img-fluid figure-img" src="https://picsum.photos/1080/1335?image=1060" alt="alt text here">
                    <figcaption class="figure-caption">Caption</figcaption>
                </figure>
            </div>
            <div class="justify-content-center spacer-slider">
                <figure class="figure"><img class="img-fluid figure-img d-flex" src="https://picsum.photos/1080/1335?image=1045" alt="alt text here">
                    <figcaption class="figure-caption">Caption</figcaption>
                </figure>
            </div>
        </div>
    </section>
    <div style="text-align:center;">
        <h2 class="divider-style"><span>Most Watched</span></h2>
    </div>
    <section style="margin-top: 20px;">
        <div class="d-flex flex-row multiple-item-slider">
            <div class="justify-content-center spacer-slider">
                <figure class="figure"><img class="img-fluid figure-img" src="https://picsum.photos/1080/1335?image=0" alt="alt text here">
                    <figcaption class="figure-caption">Caption</figcaption>
                </figure>
            </div>
            <div class="justify-content-center spacer-slider">
                <figure class="figure"><img class="img-fluid figure-img mx-auto d-block" src="https://picsum.photos/1080/1335?image=1083" alt="alt text here">
                    <figcaption class="figure-caption">Caption</figcaption>
                </figure>
            </div>
            <div class="justify-content-center spacer-slider">
                <figure class="figure"><img class="img-fluid figure-img" src="https://picsum.photos/1080/1335?image=1076" alt="alt text here">
                    <figcaption class="figure-caption">Caption</figcaption>
                </figure>
            </div>
            <div class="justify-content-center spacer-slider">
                <figure class="figure"><img class="img-fluid figure-img" src="https://picsum.photos/1080/1335?image=1075" alt="alt text here">
                    <figcaption class="figure-caption">Caption</figcaption>
                </figure>
            </div>
            <div class="justify-content-center spacer-slider">
                <figure class="figure"><img class="img-fluid figure-img" src="https://picsum.photos/1080/1335?image=1074" alt="alt text here">
                    <figcaption class="figure-caption">Caption</figcaption>
                </figure>
            </div>
            <div class="justify-content-center spacer-slider">
                <figure class="figure"><img class="img-fluid figure-img" src="https://picsum.photos/1080/1335?image=1071" alt="alt text here">
                    <figcaption class="figure-caption">Caption</figcaption>
                </figure>
            </div>
            <div class="justify-content-center spacer-slider">
                <figure class="figure"><img class="img-fluid figure-img" src="https://picsum.photos/1080/1335?image=1060" alt="alt text here">
                    <figcaption class="figure-caption">Caption</figcaption>
                </figure>
            </div>
            <div class="justify-content-center spacer-slider">
                <figure class="figure"><img class="img-fluid figure-img d-flex" src="https://picsum.photos/1080/1335?image=1045" alt="alt text here">
                    <figcaption class="figure-caption">Caption</figcaption>
                </figure>
            </div>
        </div>
    </section>
    <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <h3>About</h3>
                        <ul>
                            <li><a href="#">movieBest</a></li>
                            <li><a href="aboutus"
                                   target="popup"
                                   onclick="window.open('aboutus','popup','width=995,height=595');
                                   return false;">
                                   Team</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <p class="copyright">movieBest © 2021</p>
            </div>
        </footer>
    </div>
    <script src="{%  static 'js/jquery.min.js'%}"></script>
    <script src="{%  static 'bootstrap/js/bootstrap.min.js'%}"></script>
    <script src="{%  static 'js/--mp---Multiple-items-slider-responsive-1.js'%}"></script>
    <script src="{%  static 'js/--mp---Multiple-items-slider-responsive.js'%}"></script>
    <script src="{%  static 'js/Header-Blue--Sticky-Header--Smooth-Scroll-1.js'%}"></script>
    <script src="{%  static 'js/Header-Blue--Sticky-Header--Smooth-Scroll.js'%}"></script>
    <script src="{%  static 'js/Navbar-vmnt-1.js'%}"></script>
    <script src="{%  static 'js/Navbar-vmnt-2.js'%}"></script>
    <script src="{%  static 'js/Navbar-vmnt-3.js'%}"></script>
    <script src="{%  static 'js/Navbar-vmnt.js'%}"></script>
    <script src="{%  static 'js/Navbarbuttonsignupsignin-modal-form.js'%}"></script>
</body>

</html>
