{% extends 'movies/home.html' %}
{% load static %}

{% block content %}

   <section style="margin-top: 20px;">
        <div class="d-flex flex-row multiple-item-slider">
            {% for obj in home_movie %}
                <div class="justify-content-center spacer-slider">
                    <figure class="figure"><a href="{% url 'detail' obj.title %}"><img class="img-fluid figure-img" src="{{ obj.image.url }}" alt="alt text here"></a>
                        <figcaption class="figure-caption">{{ obj.title }}</figcaption>
                    </figure>
                </div>
            {% endfor %}
        </div>
    </section>

{% endblock content %}